@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --dark: #0e0b0c;
  --light: #555;
  --cinza: #ccc;
  --cinzaClaro: #EEEEEE;
  --branco: #fff;
  --azulClaro: #3DAD91;
  --azulEscuro: #163C34;
  --azulEsverdiado: #00684E;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
}

.container {
  display: flex;
  padding: 40px;
  min-height: 100vh;
  background: #fcfcfc;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  background: var(--azulClaro);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
nav .navbar{
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0 50px;
}
.navbar .logo a{
  font-size: 33px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}

nav .navbar .links{
  display: flex;
}

nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}

nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

nav .navbar .links li a:hover {
  color: var(--azulEscuro);
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
}

nav .navbar .links li .arrow{
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: var(--azulClaro);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}

nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
  display: block;
}

.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.navbar .links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
}

/*.navbar .links li .htmlCss-more-sub-menu {
   line-height: 40px; 
}*/

.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}

.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}

.navbar .search-box{
  position: relative;
   height: 40px;
  width: 40px;
}

.navbar .search-box i{
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar .search-box i:hover {
  color: var(--azulEscuro);
}

.navbar .search-box .input-box{
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: var(--azulClaro);
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}

.navbar.showInput .search-box .input-box{
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: var(--azulClaro);
}

.search-box .input-box::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: var(--azulClaro);
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}

.search-box .input-box input{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}

.navbar .nav-links .sidebar-logo{
  display: none;
}

.navbar .bx-menu{
  display: none;
}

.box {
  margin-top: 70px;
  position: relative;
  min-width: 425px;
  background: var(--azulClaro);
  padding: 20px;
  box-shadow: 0 35px 50px rgba(0,0,0,0.1);
}

.box::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 75px);
  height: 100%;
  background: #fff;
}

.box h3 {
  position: relative;
  color: #333;
  font-size: 1.5em;
  margin-bottom: 20px;
  padding-left: 70px;
}

.box .list {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
}

.box .list::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--azulClaro);
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}

.box .list:hover::before {
  transition: transform 0.5s;
  transform: scaleX(1);
  transform-origin: left;
}

.box .list .imgBx {
  position: relative;
  min-width: 70px;
  height: 70px;
  background: #fff;
  overflow: hidden;
  border: 6px solid #fff;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.1);
  margin-right: 20px;
  margin-left: 10px;
}

.box .list .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box .list .content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: #333;
}

.box .list .content .rank {
  position: absolute;
  right: 0;
  font-size: 2em;
  color: #fff;
  transform: scale(0);
  transition: 0.5s;
}

.box .list .content .rank small {
  font-weight: 500;
  opacity: 0.25;
}

.box .list:hover .content .rank {
  transform: scale(1);
}

.box .list .content h4 {
  font-weight: 600;
  line-height: 1.2em;
  text-transform: uppercase;
  transition: 0.5s;
}

.box .list .content p {
  opacity: 0.85;
}

.box .list:hover .content h4,
.box .list:hover .content p {
  color: #fff;
}

/*------------- Demandas -------------------*/

table {
    width: 82vw;
    height: 90vh;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem; 
    overflow: hidden;
}

.table__header h1 {
    font-size: 30px;
    margin-top: 100px;
    justify-content: center;
    display: flex;
    color: var(--azulEscuro);
}

.table__header .input-group {
    width: 40%;
    height: 60%;
    justify-content: center;
    background-color: var(--cinza);
    padding: 0.7rem;
    border-radius: 5rem;
    transition: .2s;
    margin-top: 50px;
}

.table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
    overflow: overlay;
}

.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}

table {
    width: 100%;
}

table, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
}

th {
    color: var(--branco);
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--azulClaro);
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.status {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.status.delivered {
    background-color: #86e49d;
    color: #006b21;
}

.status.cancelled {
    background-color: #d893a3;
    color: #b30021;
}

.status.pending {
    background-color: #ebc474;
}

.status.shipped {
    background-color: #6fcaea;
}

@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    text-align: center;
    font-size: 1rem;
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid var(--azulEscuro);
}

thead th:hover {
    color: var(--azulEscuro);
}

thead th.active span.icon-arrow{
    background-color: var(--azulEscuro);
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: var(--azulEscuro);
}

.export__file {
    position: relative;
}

.export__file .export__file-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #fff6 url() center / 80% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.export__file .export__file-btn:hover { 
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
}

.export__file input {
    display: none;
}

.export__file .export__file-options {
    position: absolute;
    right: 0;
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;
    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;
    box-shadow: 0 .2rem .5rem #0004;
    transition: .2s;
}

.export__file input:checked + .export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

.export__file .export__file-options label{
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type{
    padding: 1rem 0;
    background-color: #86e49d !important;
}

.export__file .export__file-options label:hover{
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
}

.export__file .export__file-options img{
    width: 2rem;
    height: auto;
}

/* ----------------------   Footer  ----------------------*/

li {
  list-style: none;
}

.container-inferior {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 0 12px;
}

footer {
  width: 100%;
  padding: 36px 0 24px;
  background: var(--cinzaClaro);
}

footer .top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-bottom: 24px;
  grid-row-gap: 36px;
  grid-column-gap: 24px;
}

footer .top p,
footer .top h4,
footer .top li,
footer .top a {
  color: var(--light);
  transition: .3s ease;
  text-decoration: none;
}

footer .top h4 {
  margin-bottom: 24px;
  font-weight: 600;
}

footer .top li {
  margin-bottom: 6px;
}

footer .top a:hover {
  color: var(--azulClaro);
}

footer .top .brand .logo {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
  display: inline-block;
  text-decoration: none
}

footer .top .brand .social-media {
  display: flex;
  align-items: center;
}

footer .top .brand .social-media li {
  margin-right: 24px;
}

footer .top .brand .social-media li a {
  font-size: 18px;
}

footer .top .links .link-list {
  text-decoration: none;
}

footer .top .brand p {
  margin-bottom: 24px;
}

footer .top .newsletter form .form {
  display: flex;
}

footer .top .newsletter form .form input {
  padding: 4px 10px;
  background: #fff;
  color: var(--dark);
  border: none;
  outline: none;
  width: 100%;
}

footer .top .newsletter form button {
  padding: 4px 16px;
  border: none;
  outline: none;
  color: #fff;
  background: var(--azulClaro);
  font-weight: 500;
  font-size: 13px;
  cursor: pointer;
  transition: .3s ease;
}

footer .top .newsletter form button:hover {
  background: var(--light);
}

footer hr {
  height: 1px;
  border: none;
  background: #aaa;
}

footer .bottom {
  padding: 24px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .bottom p,
footer .bottom a {
  color: var(--light);
  font-size: 14px;
  text-decoration: none;
}

footer .bottom a {
  transition: .3s ease;
}

footer .bottom a:hover {
  color: var(--azulClaro);
}


@media screen and (max-width: 1200px) {
  .reader {
      max-width: 991px;
  }
  .container-inferior {
      max-width: 991px;
  }
}

@media screen and (max-width: 991px) {
  .container-inferior {
      max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container-inferior {
      max-width: 576px;
  }
}

/*-------------------------------------------------------------*/

@media (max-width:920px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 15px;
  }
}
@media (max-width:800px){
  /*nav{
     position: relative; 
  }*/
  .navbar .bx-menu{
    display: block;
  }
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background:  var(--azulClaro);
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name{
    font-size: 25px;
    color: #fff;
  }
    .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #fff;
    }
  nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
nav .navbar .links li{
    display: block;
  }
nav .navbar .links li .sub-menu{
  position: relative;
  top: 0;
  box-shadow: none;
  display: none;
}
nav .navbar .links li .sub-menu li{
  border-bottom: none;

}
.navbar .links li .sub-menu .more-sub-menu{
  display: none;
  position: relative;
  left: 0;
}
.navbar .links li .sub-menu .more-sub-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    display: flex;
    align-items: center;
  }

  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: none;
  }
.navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu{
      display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow{
        transform: rotate(180deg);
}
    .navbar .nav-links.show2 .links .more-arrow{
      transform: rotate(90deg);
    }
}
@media (max-width:370px){
  nav .navbar .nav-links{
  max-width: 100%;
} 
}