@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --dark: #0e0b0c;
  --light: #555;
  --cinza: #ccc;
  --cinzaClaro: #EEEEEE;
  --branco: #fff;

  --Azul: #0CB0FF;
  --AzulEscuro: #00476A;
  --AzulClaro: #77D3FF;
  --AzulClarinho: #A8E3FF;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  min-height: 100vh;
}

.container {
  display: flex;
  padding: 40px;
  min-height: 100vh;
  background: #fcfcfc;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  background: var(--cinza);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

nav .navbar{
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0 50px;
}

.navbar span {
  color: var(--Azul);
  font-size: 40px;
}

.navbar .turmas {
  color: var(--Azul);
  font-size: 20px;
}

.navbar .logo a{
  font-size: 33px;
  color: var(--AzulEscuro);
  text-decoration: none;
  font-weight: 600;
  text-shadow: 2px 1px 1px var(--AzulEscuro);
}

nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}

nav .navbar .links{
  display: flex;
}

nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}

nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: var(--AzulEscuro);
  font-size: 16px;
  font-weight: 500;
}

nav .navbar .links li a:hover {
  color: var(--Azul);
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
}

nav .navbar .links li .arrow{
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: var(--AzulEscuro);
  transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: var(--cinza);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}

nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
  display: block;
}

.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.navbar .links li .sub-menu a{
  color: var(--AzulEscuro);
  font-size: 14px;
  font-weight: 500;
}

.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
}

/*.navbar .links li .htmlCss-more-sub-menu {
   line-height: 40px; 
}*/

.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}

.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}

.navbar .search-box{
  position: relative;
  height: 40px;
  width: 40px;
}

.navbar .search-box i{
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: var(--AzulEscuro);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar .search-box i:hover {
  color: var(--Azul);
}

.navbar .search-box .input-box{
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: var(--cinza);
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}

.navbar.showInput .search-box .input-box{
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: var(--AzulEscuro);
}

.search-box .input-box::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: var(--AzulEscuro);
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}

.search-box .input-box input{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}

.navbar .nav-links .sidebar-logo{
  display: none;
}

.navbar .bx-menu{
  display: none;
}

/*------------- Lista de professores -------------------*/

.professor{
  margin-top: 100px;
}

h1, h2, h3, h4{
  color: var(--dark-blue)
}

input, button{
  outline: 0;
  font-family: inherit;
  font-size: 1rem;
  border: none;
}

button{
  cursor: pointer;
}

/* --------------------- modal -----------------------*/

#fullscreen-div{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}

.modal{
  background-color: var(--branco);
  border-radius: 0.6rem;
  overflow: hidden;
  display: none;
  position: fixed;
  margin-top: 60px;
  top: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 5;
  align-items: center;
}

.modal-head{
  background-color: var(--Azul);
  padding: 1.2rem 2.4rem;
  font-size: 1.5rem;
  color: var(--branco);
  position: relative;
}

.modal-head h3{
  color: var(--branco);
}

#close-btn{
  background-color: transparent;
  font-size: 1.4rem;
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--branco);
  color: var(--AzulEscuro);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

#close-btn:hover{
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.modal-main{
  padding: 1rem 2.4rem 1rem 2.4rem;
  max-width: 480px;
  min-width: 400px;
}

.modal-row{
  margin-bottom: 1rem;
}

.grid-row{
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}

.modal-col label{
  display: block;
  align-items: center;
  font-weight: 400;
  color: var(--AzulEscuro);
  margin-bottom: 0.6rem;
}

.modal-col input, .modal-col select{
  border: 1px solid rgba(184, 183, 188, 0.5);
  border-radius: 3px;
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  outline: 0;
  width: 100%;
}

#modal-btns button{
  font-size: 1.1rem;
  color: var(--branco);
  border-radius: 4px;
  padding: 0.6rem 2rem;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

#modal-btns button:hover{
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
}

#save-btn, #update-btn{
  -webkit-box-shadow: 0 2px 0 0 #0CB0FF;
          box-shadow: 0 2px 0 0 #0CB0FF;
  background-color: var(--Azul);
  margin-right: 0.6rem;
}

#save-btn:hover, #update-btn:hover{
  -webkit-box-shadow: 0 1px 0 0 #00476A;
          box-shadow: 0 1px 0 0 #00476A;
}

#delete-btn{
  background-color: #d33c41;
  -webkit-box-shadow: 0 2px 0 0 #8a1f23;
          box-shadow: 0 2px 0 0 #8a1f23;
}

#delete-btn:hover{
  -webkit-box-shadow: 0 1px 0 0 #8a1f23;
          box-shadow: 0 1px 0 0 #8a1f23;
}

/* ----------------- Lista de Professores -------------------- */

.addr-book{
  padding: 1.4rem;
  margin: 0 auto;
  max-width: 1700px;
  min-width: 700px!important;
}

.addr-book-content{
  background-color: var(--cinza);
  padding: 1.6rem;
  border-radius: 4px;
}

.addr-book-head{
  padding-top: 1.5rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.addr-book-head h2{
  font-size: 2.2rem;
  color: var(--AzulEscuro);
}

.addr-book-head i{
  color: var(--AzulEscuro);
  margin-right: 1rem;
}

.addr-book-top{
  padding: 1rem 0;
}

.addr-book-top .btn{
  color: #fff;
  padding: 0.8rem;
  border-radius: 3px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  background-color: var(--Azul);
  -webkit-box-shadow: 0 2px 0 0 #00476A;
          box-shadow: 0 2px 0 0 #00476A;
}

.addr-book-top .btn:hover {
  color: var(--branco);
  background-color: var(--AzulEscuro);
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-box-shadow: 0 1px 0 0 #00476A;
          box-shadow: 0 1px 0 0 #00476A;
}

.addr-book-list{
  margin: 1rem 0;
  min-height: 450px;
}

.addr-table{
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  padding: 10px;
}

.addr-table thead{
  border-bottom: 1px solid var(--AzulEscuro);
}

.addr-table thead tr th{
  padding-bottom: 0.8rem;
  text-align: center;
  color: var(--AzulEscuro);
}

.addr-table thead tr th:hover {
  color: var(--Azul);
}

.addr-table tbody td{
  padding: 1.5rem 0;
  color: ba(0, 0, 0, 0.6)rg;
  font-weight: 600;
}

.addr-table tbody td:nth-child(1){
  padding-left: 0.5rem;
  padding-right: 1rem;
}
.addr-table tbody td:nth-child(2){
  font-weight: 800;
}
.addr-table .addressing-name{
  color: var(--AzulEscuro);
}
.addr-table .address{
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}
.addr-table tbody td:nth-child(3) span{
  background-color: var(--light-grey-color);
  display: inline-block;
  padding: 0.3rem 0.6rem;
  border-radius: 8px;
}
.addr-table tbody tr{
  text-align: center;
  cursor: pointer;
}
.addr-table tbody tr:hover{
  background-color: var(--Azul);
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.addr-table tbody tr:hover td, .addr-table tbody tr:hover span{
  color: #fff;
}
.addr-table tbody tr:hover td:nth-child(3) span{
  background-color: #fff;
  color: rgba(0, 0, 0, 0.6);
}

/* for error message */
.errorMsg{
  border: 1px solid #d33c41!important;
}

/*--------------- Paginação --------------*/

.pagination {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 20px;
  
}

.pagination:hover {
  color: var(--Azul);
}

.pagination div {
  padding: 10px;
  border: 2px solid #d5d0d0;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--AzulEscuro);
  color: #ffffff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  margin: 0 5px;
  cursor: pointer;
}

/* ----------------------   Footer  ----------------------*/

li {
  list-style: none;
}

.container-inferior {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 0 12px;
}

footer {
  width: 100%;
  padding: 36px 0 24px;
  background: var(--cinza);
  margin-top: 100px;
}

footer .top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-bottom: 24px;
  grid-row-gap: 36px;
  grid-column-gap: 24px;
}

footer .top p,
footer .top h4,
footer .top li,
footer .top a {
  color: var(--AzulEscuro);
  transition: .3s ease;
  text-decoration: none;
}

footer .top h4 {
  margin-bottom: 24px;
  font-weight: 600;
}

footer .top li {
  margin-bottom: 6px;
}

footer .top a:hover {
  color: var(--Azul);
}

footer .top .brand .logo {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
  display: inline-block;
  text-decoration: none
}

footer .top .brand .social-media {
  display: flex;
  align-items: center;
}

footer .top .brand .social-media li {
  margin-right: 24px;
}

footer .top .brand .social-media li a {
  font-size: 18px;
}

footer .top .links .link-list {
  text-decoration: none;
}

footer .top .brand p {
  margin-bottom: 24px;
}

footer .top .newsletter form .form {
  display: flex;
}

footer .top .newsletter form .form input {
  padding: 4px 10px;
  background: var(--branco);
  color: var(--dark);
  border: none;
  outline: none;
  width: 100%;
}

footer .top .newsletter form button {
  padding: 4px 16px;
  border: none;
  outline: none;
  color: var(--branco);
  background: var(--AzulEscuro);
  font-weight: 500;
  font-size: 13px;
  cursor: pointer;
  transition: .3s ease;
}

footer .top .newsletter form button:hover {
  background: var(--Azul);
}

footer hr {
  height: 1px;
  border: none;
  background: #aaa;
}

footer .bottom {
  padding: 24px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .bottom p,
footer .bottom a {
  color: var(--AzulEscuro);
  font-size: 14px;
  text-decoration: none;
}

footer .bottom a {
  transition: .3s ease;
}

footer .bottom a:hover {
  color: var(--Azul);
}


@media screen and (max-width: 1200px) {
  .reader {
      max-width: 991px;
  }
  .container-inferior {
      max-width: 991px;
  }
}

@media screen and (max-width: 991px) {
  .container-inferior {
      max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container-inferior {
      max-width: 576px;
  }
}

/*-------------------------------------------------------------*/

@media (max-width:920px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 15px;
  }
}
@media (max-width:800px){
    /*nav{
        position: relative; 
    }*/
    .navbar .bx-menu{
        display: block;
    }
    nav .navbar .nav-links{
        position: fixed;
        top: 0;
        left: -100%;
        display: block;
        max-width: 270px;
        width: 100%;
        background:  var(--azulClaro);
        line-height: 40px;
        padding: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease;
        z-index: 1000;
    }
    .navbar .nav-links .sidebar-logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .sidebar-logo .logo-name{
        font-size: 25px;
        color: #fff;
    }
    .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #fff;
    }
    nav .navbar .links{
        display: block;
        margin-top: 20px;
    }
    nav .navbar .links li .arrow{
        line-height: 40px;
    }
    nav .navbar .links li{
        display: block;
    }
    nav .navbar .links li .sub-menu{
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
    }
    nav .navbar .links li .sub-menu li{
    border-bottom: none;

    }
    .navbar .links li .sub-menu .more-sub-menu{
    display: none;
    position: relative;
    left: 0;
    }
    .navbar .links li .sub-menu .more-sub-menu li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    .links li:hover .htmlcss-arrow,
    .links li:hover .js-arrow{
    transform: rotate(0deg);
    }
    .navbar .links li .sub-menu .more-sub-menu{
        display: none;
    }
    .navbar .links li .sub-menu .more span{
        display: flex;
        align-items: center;
    }

    .links li .sub-menu .more:hover .more-sub-menu{
        display: none;
    }
    nav .navbar .links li:hover .htmlCss-sub-menu,
    nav .navbar .links li:hover .js-sub-menu{
        display: none;
    }
    .navbar .nav-links.show1 .links .htmlCss-sub-menu,
    .navbar .nav-links.show3 .links .js-sub-menu,
    .navbar .nav-links.show2 .links .more .more-sub-menu{
        display: block;
        }
        .navbar .nav-links.show1 .links .htmlcss-arrow,
        .navbar .nav-links.show3 .links .js-arrow{
            transform: rotate(180deg);
    }
        .navbar .nav-links.show2 .links .more-arrow{
        transform: rotate(90deg);
        }
    }
    @media (max-width:370px){
    nav .navbar .nav-links{
    max-width: 100%;
    } 
}